.list-metrics-container {
    position: static;
    width: 535px;
    top: 780px;
    padding: 5px;

}

.list-metrics-container tr {
   background-color: #D1DAFA;
   color: #384FA1;
   
}

.list-metrics-container table {
    width: 100%;
}